@model skAmazon2.ViewModels.ShoppingCartViewModel

@{
    ViewBag.Title = "Review Your Cart";
    Layout = "../Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(function () {
        // Document.ready -> link up remove event handler
        $(".remove-item").click(function () {
            // Get the id from the link
            var recordToDelete = $(this).attr("data-id");
            if (recordToDelete !== '') {
                // Perform the ajax post
                $.post("/ShoppingCart/RemoveFromCart", { "id": recordToDelete },
                    function (data) {
                        // Successful requests get here
                            // Update the page elements manually
                            //if (data.ItemCount === 0) {
                            //    $('#row-' + data.DeleteId).fadeOut('slow');
                            //} else {
                            //    $('#item-count-' + data.DeleteId).text(data.ItemCount);
                            //}
                        //refresh all cart by reloading cart in place
                        $("#cart-table").fadeOut(50).delay(150).load("@Url.Action("CartTable")").fadeIn();
                        //add update message and update cart status
                        $('#update-message').hide().delay(200).html(data.Message).fadeIn();
                        $('#cart-status').delay(200).text('Cart (' + data.CartCount + ')');
                    });
            }
        });
    });
</script>

<div class="container">
    <h3>
        <em>Review</em> your cart:
    </h3>
    <div id="update-message"></div>
    <div id="cart-table">
        @Html.Partial("_CartTable")
    </div>
    <div class="testing"></div>
</div>