@model IEnumerable<skAmazon2.Models.Product>
    @{
        ViewBag.Title = "skAmazon.com";
        ViewBag.LoggedIn = true;
        Layout = "~/Views/Shared/_Layout.cshtml";
    //var products = Model;
    }
    <script>
        $(document).ready(function () {
            (function () {
                $(".item").addClass("items-lg");
            })();


        });

        /***********************************************************************/
        /* Not sure what is going on here... it came with the breadcrumbs code */
        /***********************************************************************/
        //$(window).resize(function () {

        //    ellipses1 = $("#bc1 :nth-child(2)")
        //    if ($("#bc1 a:hidden").length > 0) { ellipses1.show() } else { ellipses1.hide() }

        //    ellipses2 = $("#bc2 :nth-child(2)")
        //    if ($("#bc2 a:hidden").length > 0) { ellipses2.show() } else { ellipses2.hide() }

        //})


    </script>



    @*Using Flat UI's tiles here:*@
    <div class="row">
        <div class="main-content col-md-9 col-md-push-3 col-lg-10 col-lg-push-2">
            @Html.Partial("_MainContentTopBar")
            <div class="browse-item-wrapper row">
                <div class="row">
                    @*<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
                            <div class="tile">
                                <img src="../Content/icon_Widget2.jpg" alt="widget" class="">
                                <h3 class="tile-title">Item</h3>
                                <p>This is an awesome product.</p>
                                <a class="btn btn-primary btn-large btn-block">BUY ME!</a>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
                            <div class="tile">
                                <img src="../Content/icon_Widget2.jpg" alt="widget" class="">
                                <h3 class="tile-title">Item</h3>
                                <p>This is an awesome product.</p>
                                <a class="btn btn-primary btn-large btn-block">BUY ME!</a>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
                            <div class="tile">
                                <img src="../Content/icon_Widget2.jpg" alt="widget" class="">
                                <h3 class="tile-title">Item</h3>
                                <p>This is an awesome product.</p>
                                <a class="btn btn-primary btn-large btn-block">BUY ME!</a>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
                            <div class="tile">
                                <img src="../Content/icon_Widget2.jpg" alt="widget" class="">
                                <h3 class="tile-title">Item</h3>
                                <p>This is an awesome product.</p>
                                <a class="btn btn-primary btn-large btn-block">BUY ME!</a>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
                            <div class="tile">
                                <img src="../Content/icon_Widget2.jpg" alt="widget" class="">
                                <h3 class="tile-title">Item</h3>
                                <p>This is an awesome product.</p>
                                <a class="btn btn-primary btn-large btn-block">BUY ME!</a>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
                            <div class="tile">
                                <img src="../Content/icon_Widget2.jpg" alt="widget" class="">
                                <h3 class="tile-title">Item</h3>
                                <p>This is an awesome product.</p>
                                <a class="btn btn-primary btn-large btn-block">BUY ME!</a>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
                            <div class="tile">
                                <img src="../Content/icon_Widget2.jpg" alt="widget" class="">
                                <h3 class="tile-title">Item</h3>
                                <p>This is an awesome product.</p>
                                <a class="btn btn-primary btn-large btn-block">BUY ME!</a>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
                            <div class="tile">
                                <img src="../Content/icon_Widget2.jpg" alt="widget" class="">
                                <h3 class="tile-title">Item</h3>
                                <p>This is an awesome product.</p>
                                <a class="btn btn-primary btn-large btn-block">BUY ME!</a>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
                            <div class="tile">
                                <img src="../Content/icon_Widget2.jpg" alt="widget" class="">
                                <h3 class="tile-title">Item</h3>
                                <p>This is an awesome product.</p>
                                <a class="btn btn-primary btn-large btn-block">BUY ME!</a>
                            </div>
                        </div>*@

                    @*use this*@
                    @* Populates a browse page with all the items matching the search*@
                    @if (Model!=null)
                    {
                        foreach (var item in Model)
                        {
                            <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
                                <div class="tile">
                                    <img src="../Content/icon_Widget2.jpg" alt="widget" class="">
                                    <h3 class="tile-title">@Html.DisplayFor(modelItem => item.ProductDescription)</h3>
                                    <p>Price: @Html.DisplayFor(modelItem => item.UnitPrice)</p>
                                    <a class="btn btn-primary btn-large btn-block">Buy Now</a>
                                    <a href =@Url.Action("Details", "Product", new { id = item.ItemID }) class="btn btn-primary btn-large btn-block">View Item</a>
                                </div>
                            </div>
                        }
                    }


                </div> <!-- /row -->
            </div>
        </div>

        <div class="sidebar col-sm-4 col-sm-pull-8 col-md-3 col-md-pull-9 col-lg-2 col-lg-pull-10">
            <ul class="">
                <li><a href="#">Link List</a></li>
                <li><a href="#">Link List</a></li>
                <li><a href="#">Link List</a></li>
                <li>
                    <ul class="">
                        <li><a href="#">Link List</a></li>
                        <li><a href="#">Link List</a></li>
                        <li><a href="#">Link List</a></li>
                    </ul>
                </li>
                <li><a href="#">Link List</a></li>
                <li>
                    <ul class="">
                        <li><a href="#">Link List</a></li>
                        <li><a href="#">Link List</a></li>
                        <li><a href="#">Link List</a></li>
                    </ul>
                </li>
            </ul>
        </div>

        @*<div class="sidebar col-sm-4 col-sm-pull-8 col-md-3 col-md-pull-9 col-lg-2 col-lg-pull-10">
                <ul class="sidebar">
                    <li><a href="#fui-button">Link List</a></li>
                    <li><a href="#fui-button">Link List</a></li>
                    <li><a href="#fui-button">Link List</a></li>
                    <li>
                        <ul class="sidebar">
                            <li><a href="#fui-button">Link List</a></li>
                            <li><a href="#fui-button">Link List</a></li>
                            <li><a href="#fui-button">Link List</a></li>
                        </ul>
                    </li>
                    <li><a href="#fui-button">Link List</a></li>
                    <li>
                        <ul class="sidebar">
                            <li><a href="#fui-button">Link List</a></li>
                            <li><a href="#fui-button">Link List</a></li>
                            <li><a href="#fui-button">Link List</a></li>
                        </ul>
                    </li>
                </ul>
            </div>*@
    </div>
