@{
    ViewBag.Title = "Contact";
    Layout = "../Shared/_Layout.cshtml";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    301 W. Main Street<br />
    Richmond, VA 23220<br />
    <abbr title="Phone">P:</abbr>
    (804)828-1595
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>