@model IEnumerable<skAmazon2.Models.Product>

@{
    ViewBag.Title = "skAmazon.com";
    ViewBag.LoggedIn = true;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    $(document).ready(function() {
        (function() {
            $(".item").addClass("items-lg");
        })();
    })
</script>
@Html.Partial("_HomeCarousel")
<div class="row">
                <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
                    <div class="tile">
                        <img src="../Content/icon_Widget2.jpg" alt="widget" class="">
                        <h3 class="tile-title">Item</h3>
                        <p>Featured Item!</p>
                        <a class="btn btn-primary btn-large btn-block">BUY ME!</a>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
                    <div class="tile">
                        <img src="../Content/icon_Widget2.jpg" alt="widget" class="">
                        <h3 class="tile-title">Item</h3>
                        <p>Featured Item!</p>
                        <a class="btn btn-primary btn-large btn-block">BUY ME!</a>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
                    <div class="tile">
                        <img src="../Content/icon_Widget2.jpg" alt="widget" class="">
                        <h3 class="tile-title">Item</h3>
                        <p>Featured Item!</p>
                        <a class="btn btn-primary btn-large btn-block">BUY ME!</a>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
                    <div class="tile">
                        <img src="../Content/icon_Widget2.jpg" alt="widget" class="">
                        <h3 class="tile-title">Item</h3>
                        <p>Featured Item!</p>
                        <a class="btn btn-primary btn-large btn-block">BUY ME!</a>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
                    <div class="tile">
                        <img src="../Content/icon_Widget2.jpg" alt="widget" class="">
                        <h3 class="tile-title">Item</h3>
                        <p>Featured Item!</p>
                        <a class="btn btn-primary btn-large btn-block">BUY ME!</a>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
                    <div class="tile">
                        <img src="../Content/icon_Widget2.jpg" alt="widget" class="">
                        <h3 class="tile-title">Item</h3>
                        <p>Featured Item!</p>
                        <a class="btn btn-primary btn-large btn-block">BUY ME!</a>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
                    <div class="tile">
                        <img src="../Content/icon_Widget2.jpg" alt="widget" class="">
                        <h3 class="tile-title">Item</h3>
                        <p>Featured Item!</p>
                        <a class="btn btn-primary btn-large btn-block">BUY ME!</a>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
                    <div class="tile">
                        <img src="../Content/icon_Widget2.jpg" alt="widget" class="">
                        <h3 class="tile-title">Item</h3>
                        <p>Featured Item!</p>
                        <a class="btn btn-primary btn-large btn-block">BUY ME!</a>
                    </div>
                </div>                
            </div>  
@*<div class="row">
    <div class="main-content col-sm-12">
        <div class="browse-item-wrapper row">
            <div class="col-sm-2 col-xs-4 item">
                Featured Item!
            </div>
            <div class="col-sm-2 col-xs-4 item">
                Featured Item!
            </div>
            <div class="col-sm-2 col-xs-4 item">
                Featured Item!
            </div>
            <div class="col-sm-2 col-xs-4 item">
                Featured Item!
            </div>
            <div class="col-sm-2 col-xs-4 item">
                Featured Item!
            </div>
            <div class="col-sm-2 col-xs-4 item">
                Featured Item!
            </div>
            <div class="col-sm-2 col-xs-4 item">
                Featured Item!
            </div>
            <div class="col-sm-2 col-xs-4 item">
                Featured Item!
            </div>
            <div class="col-sm-2 col-xs-4 item">
                Featured Item!
            </div>
            <div class="col-sm-2 col-xs-4 item">
                Featured Item!
            </div>
            <div class="col-sm-2 col-xs-4 item">
                Featured Item!
            </div>
            <div class="col-sm-2 col-xs-4 item">
                Featured Item!
            </div>
        </div>
    </div>
</div>*@