@{
    var searchText = "";
    if (!String.IsNullOrEmpty(Request.QueryString["searchTerm"]))
    {
        searchText = Request.QueryString["searchTerm"];
    }
}

<form class="navbar-form hidden-xs" action="/Product/Search" role="search">
    <div class="form-group-fw form-group">
        <div class="input-group-fw input-group input-group-rounded">
            <input id="searchBar" class="form-control" type="search" name="searchTerm" placeholder="search" value="@searchText">
            <span class="input-group-btn-fw input-group-btn">
                <button id="search" type="submit" class="btn"><span class="fui-search"></span></button>
            </span>
        </div>
    </div>
</form>

<form class="navbar-form hidden-sm hidden-md hidden-lg" action="/Product/Search" role="search">
    <div class="form-group-fw form-group">
        <div class="input-group-fw input-group input-group-rounded">
            <input id="searchBar" class="form-control" type="search" name="searchTerm" placeholder="search">
            <span class="input-group-btn-fw input-group-btn">
                <button id="search" type="submit" class="btn"><span class="fui-search"></span></button>
            </span>
        </div>
    </div>
</form>


